{% extends "base.html" %}

{% block content %}
<div class="container">
    <p><br></p>
    <h1>Contacts:</h1>
    <br>
    <p>Edvinas Balsys<br>
        Vilnius, Lithuania
        <br>
        <br>
        My E-mail address - <a href="https://baledvinas@gmail.com">baledvinas@gmail.com</a><br>
        My Github profile - <a href="https://github.com/baldwinas">github.com/baldwinas</a><br>
        <br>
    <h4 style="font-family:verdana;">If you want to keep in touch with me feel free to contact me via E-mail above.
    </h4>
</div>
{% endblock content %}